img{
    max-width: 200px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(255,255,255);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(182,182,182,1) 100%);
    margin: 0;
    padding: 20px;
}

header {
    background-color: rgb(153, 153, 153);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: 60px;
  
 
}

nav {
    background-color: rgb(112, 112, 112);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: left
    
}
.container {
    width: 90%;
    margin: 3% auto;
    padding: 1px;
    background-color:rgb(160, 160, 160);}

.destaque{
    text-align: center;
    text-decoration: underline;
}
.valores{
    font-size: 30px;
    text-decoration: underline;
    color: green;
}
h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold
}


footer {
    background-color: rgb(87, 87, 87);
    color: rgb(0, 0, 0);
    padding: 2px;
    text-align: center;
}